{% extends "users.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('gifts') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('gifts') }}
    <script>
        const route_booking_delete = "{{ path('booking_delete')|escape('js') }}";
        const route_booking_create = "{{ path('booking_create')|escape('js') }}";
        const route_gift_delete = "{{ path('gift_delete')|escape('js') }}";
        const route_gift_update = "{{ path('gift_update')|escape('js') }}";
    </script>
{% endblock %}

{% block extra %}
    <ul class="gift-list">
        {% for gift in user.gifts %}
            {# Si le cadeau est réservé et qu'on est pas sur notre propre liste, on le marque différemment #}
            <li {{ gift.booked and user.id != loggedUser.id ? 'class="reserve"' }}>
                <div class="wrapper-title">
                    <p class="gift-title">{{ gift.title }}</p>

                    {% if gift.link|length > 0 %}
                        <a title="{% trans %}gift.link{% endtrans %}" href="{{ gift.link }}" class="gift-link">
                            <svg viewBox="0 0 100 100" class="icon">
                                <use xlink:href="#icon-link"></use>
                            </svg>
                        </a>
                    {% endif %}

                    {# Chaque personne identifié peut modifier sa propre liste #}
                    {% if user.id == loggedUser.id %}
                        <span class="submit-delete ico-trash">
                            <svg viewBox="0 0 100 100" class="icon">
                                <use xlink:href="#icon-ico-trash"></use>
                            </svg>
                        </span>

                        <div class="confirmation-suppression">
                            <p>{% trans %}delete.confirmation{% endtrans %}</p>
                            <form action="{{ path('gift_delete') }}" method="post">
                                <input type="hidden" value="{{ gift.id }}" name="gift-id"/>
                                <input type="submit" class="confirm-suppression bt" value="{% trans %}yes{% endtrans %}"/>
                            </form>
                            <p class="annuler-suppression">{% trans %}delete.cancel{% endtrans %}</p>
                        </div>

                        <span class="ico-edit" title="{% trans %}gift.edit.title{% endtrans %}">
                            <svg viewBox="0 0 100 100" class="icon">
                                <use xlink:href="#icon-ico-edit"></use>
                            </svg>
                        </span>

                        {# Si on est pas le propriétaire de la liste, on gère la réservation #}
                    {% else %}
                        {# On récupère l'état de réservation, la personne qui l'a éventuellement réservé #}
                        {# Si le cadeau n'est pas réservé, j'affiche le bouton "réserver" #}
                        {% if not gift.booked %}
                            <form action="{{ path('booking_create') }}" method="post" id="form-resa">
                                <input type="hidden" value="{{ gift.id }}" name="gift-id"/>
                                <input type="submit" value="{% trans %}gift.book.title{% endtrans %}" class="bt_resa bt"/>
                            </form>
                            {# Si le cadeau est réservé #}
                        {% else %}
                            {# Si il est réservé par moi, je peux annuler #}
                            {% if gift.bookedBy.id == loggedUser.id %}
                                <form action="{{ path('booking_delete') }}" method="post" id="cancel_resa">
                                    <input type="hidden" value="{{ gift.id }}" name="gift-id"/>
                                    <input type="submit" value="{% trans %}cancel{% endtrans %}" class="bt bt_annuler"
                                           title="{% trans %}gift.book.cancel{% endtrans %}"/>
                                </form>
                                {# Si il est réservé par qqun d'autre, j'affiche ce qqun d'autre #}
                            {% else %}
                                <div class="resaPar" title="{% trans with {'%name%': gift.bookedBy.name} %}gift.book.by{% endtrans %}">
                                    <img src='{{ asset("build/perso#{gift.bookedBy.iconId}.png") }}'/>
                                    <span>{{ gift.bookedBy.name }}</span>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                {% if gift.description|length > 0 %}
                    <p class="gift-description">{{ gift.description }}</p>
                {% endif %}

                {# Chaque personne identifié peut modifier sa propre liste #}
                {% if gift.user.id == loggedUser.id %}
                    {# Le formulaire, pour edition #}
                    <form class="form-gift form-edit" action="{{ path('gift_update') }}" method="post">
                        <div class="wrapper-gift-input">
                            <span>
                                <svg viewBox="0 0 100 100" class="icon">
                                    <use xlink:href="#icon-ico-item"></use>
                                </svg>
                            </span>
                            <input type="text" name="gift-name" required
                                   placeholder="{% trans %}gift.placeholder.title{% endtrans %}"
                                   value="{{ gift.title }}"/>
                        </div>

                        <div class="wrapper-gift-input">
                            <span>
                                <svg viewBox="0 0 100 100" class="icon">
                                    <use xlink:href="#icon-link"></use>
                                </svg>
                            </span>
                            <input type="text" name="gift-url"
                                   placeholder="{% trans %}gift.placeholder.link{% endtrans %}"
                                   value="{{ gift.link }}"/>
                        </div>

                        <textarea name="gift-description" id="" rows="3"
                                  placeholder="{% trans %}gift.placeholder.description{% endtrans %}"
                        >{{ gift.description }}</textarea>

                        <input type="hidden" value="{{ gift.id }}" name="gift-id"/>
                        <input type="submit" class="bt bt-edit-gift" value="{% trans %}gift.edit.confirm{% endtrans %}"/>

                        <div class="wrapper-bt-edit-gift">
                            <span class="cancel-edit-gift bt-cancel">{% trans %}cancel{% endtrans %}</span>
                        </div>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form class="form-gift form-add" action="{{ path('gift_add') }}" method="post" id="add-user">
        <div class="wrapper-gift-input">
            <span>
                <svg viewBox="0 0 100 100" class="icon">
                    <use xlink:href="#icon-ico-item"></use>
                </svg>
            </span>
            <input type="text" name="gift-name" required placeholder="{% trans %}gift.placeholder.title{% endtrans %}"/>
        </div>
        <div class="wrapper-gift-input">
            <span>
                <svg viewBox="0 0 100 100" class="icon">
                    <use xlink:href="#icon-link"></use>
                </svg>
            </span>
            <input type="text" name="gift-url" placeholder="{% trans %}gift.placeholder.link{% endtrans %}"/>
        </div>

        <textarea name="gift-description" id="" rows="3"
                  placeholder="{% trans %}gift.placeholder.description{% endtrans %}"></textarea>

        <input type="hidden" value="{{ user.id }}" name="gift-user"/>
        <input type="submit" class="bt" value="{% trans %}gift.add.action{% endtrans %}"/>
    </form>

    {% if user.id == loggedUser.id %}
        <div class="wrapper-bt wrapper-add">
            <button class="bt bt-add-gift">{% trans %}gift.add.title{% endtrans %}</button>
        </div>
    {% endif %}
{% endblock %}
